<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка файла</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for field in form %}
                {{ field }}
            {% endfor %}
        </table>
        {% if form.errors %}
            <div style="color:red;">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <button>Отправить</button>
    </form>
    {% if messages %}
        <div>
            {% for message in messages %}
                <p style="color: green;">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>